.videos {
  column-gap: .5em;
  display: flex;
  list-style: none;
  margin: 1.5em 0 1em;
  overflow: auto;
  padding: 0;
}

.videoItem {
  border: .5em solid transparent;
  flex: 0 0 auto;
  padding: .5em;
  height: 15em;
  overflow: hidden;
  width: 11em;
}
.videoItem:hover, .videoItem:focus {
  border: .25em dotted #f2f2f2;
}
.videoItem img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 9em;
}
