.videos, .channels {
  display: flex;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;

  scroll-behavior: smooth;
}

.videos::-webkit-scrollbar, .channels::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.item {
  flex: 0 0 auto;
  overflow: hidden;
}
.link {
  padding: .5em;
  display: block;
}
.item img {
  display: block;
  object-fit: cover;
  /* 16:9 */
  width: 29em;
  height: 16.3125em;
}
.title {
  font-size: 1.75rem;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 29rem;

  text-align: center;
}
