.header h1 {
  margin: 1em 0 0.5em;
}
.header p {
  margin-bottom: 1em;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscribe {
  cursor: pointer;
  text-align: center;
}
.subscribe input {
  appearance: none;
  cursor: pointer;
  border: 0.1em solid #f2f2f2;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
  text-align: center;
}
.subscribe input:checked::before {
  color: #13a10e;
  content: 'X';
  width: 100%;
  height: 100%;
}

.video {
  padding-top: 1.5em;
  width: 100%;
  max-height: 40vh;
}

.list h2 {
  margin: 0.5em 0 0.5em;
}
