.overview {
  align-content: center;
  display: flex;
  column-gap: 1em;
}
.detail, .player {
  flex: 1 1 auto;
}
.header h1 {
  margin: 1em 0 .5em;
}
.video {
  padding-top: 1.5em;
  width: 100%;
  max-height: 40vh;
}

.list h2 {
  margin: .5em 0 .5em;
}
