.hero {
  height: 40%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.hero p {
  max-width: 50rem;
}
.suggestions {
  height: 60%;
  overflow: auto;
  margin-right: -1rem;

  scroll-behavior: smooth;
}

.suggestions::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.main {
  padding: 0;
}

.wizard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  width: 500px;
  height: 300px;
  fill: white;
}

.categories {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
}

.categories .category {
  white-space: nowrap;
  cursor: pointer;
  font-size: 2em;
  padding: 1em;
  border: 0.25em dotted #f2f2f2;
  border-radius: 2em;
}

.categories .category:hover {
  border: 0.25em solid #f2f2f2;
}

.categories .category:focus {
  border: 0.25em solid #f2f2f2;
}
