.modal, .nonModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  animation: .25s steps(1, jump-end) infinite frames;
}
.modal {
  z-index: 1;
}


@keyframes frames {
  from {
    background: url('/lgray0.png') center/cover;
  }

  20% {
    background: url('/lgray1.png') center/cover;
  }

  40% {
    background: url('/lgray2.png') center/cover;
  }

  60% {
    background: url('/lgray3.png') center/cover;
  }

  80% {
    background: url('/lgray2.png') center/cover;
  }

}

.message {
  background: #0c0c0c;
  padding: .5em;

  animation: 2s step-end 0s 1 showMessage;
}
@keyframes showMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
