.channelList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.channelItem {
  display: grid;
  grid-template-columns: 7rem 1fr;
  overflow: hidden;
  padding-top: 1rem;
}
.channelItem h2 {
  font-size: 1.25em;
  margin-bottom: .5em;
}

.channelDetail {
  border-bottom: .2rem groove;
  box-sizing: content-box;
  height: 7rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
}
.channelItem:last-child .channelDetail {
  border-bottom: none;
}

.artwork {
  border: inset thick;
  display: block;
  height: 7rem;
  width: 7rem;
}
