.channelList {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}
.channelItem {
  padding: 1rem 0;
}

.channelItem + .channelItem {
  border-top: .2rem groove;
}

.artwork {
  display: block;
  border: inset thick;
}
