.back,
.back:hover,
.back:visited {
  padding: 0;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
  top: 2rem;
  left: 2rem;
}
.main {
  height: 100vh;
  background-size: auto 100%;
  background-position: 40vw 0;
  background-repeat: no-repeat;
}

.title {
  color: #f2f2f2;
  width: 50%;
}

.video,
.overview {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.video {
  opacity: 0;

  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.started .video {
  opacity: 1;
  border: 0.25em solid transparent;
}
.overview {
  padding: 4em 2em;

  transition: visibility 0.5s linear, opacity 0.5s linear;
}
.description {
  max-width: 60em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.started .overview {
  background-image: radial-gradient(transparent, #0c0c0c 70%);
}
.playing .video {
  opacity: 1;
}
.playing .overview {
  opacity: 0;
  visibility: hidden;
}
